body {
    background-color: rgb(229,225,216);
}

div {
    margin-left: 12cm;
    margin-right: 12cm;
}

img {
    border-radius: 2px;
    width: 28px;
    height: 23px;
}

#title1 {
    background: linear-gradient(to right, rgb(181, 14, 35) 0%, rgb(0, 62, 139) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: 900;
    font-size: 38pt;
    text-align: center;
    padding: 0 30px;
    border-bottom: 4px solid rgb(111, 26, 51);
}

#subtitle1 {
    background: linear-gradient(to right, rgb(181, 14, 35) 0%, rgb(0, 62, 139) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-size: 30pt;
    padding-bottom: 20px;
    font-weight: normal;
    text-align: center;
}

table {
    font-family: Arial;
    border-collapse: collapse;
    background-color: #FFF;
    width: 800px;
    padding: 20px;
    margin: 20px 0;
}

td {
    background: white;
    padding: 7px;
    text-align: justify;
}

td, th {
    color: gray;
}

#timeFont {
    color: blue
}

#semiBoldFont {
    color: black;
    font-weight: 600;
}

.coluna-nome {
    width: 200px;
}

.bottomBorder {
    border-bottom: 2px solid gray;
}

.textFontSize {
    font-size: 20px;
}

.tablePadding {
    margin-top: 0.5cm;
}